{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small> Welcome{% if session.groupname %}to the {{session.groupname}}{% else %} the {% endif %} channel</small></h1>
    <a class="btn btn-success" href="/upload_file">Upload File</a>
    {% if session.is_admin %}
    <a class="btn btn-primary" href="/create_group">Create Group</a>
    <a class="btn btn-warning" href="/view_status">View Statuses</a>
    {% endif %}
    {% if session.in_group %}
    <a class="btn btn-info" href="/upload_file">Upload File</a>
    {% endif %}
    <hr>
    {% if session.in_group %}
    <table class="table table-striped">
        <tr>
            <th>File Name</th>
            <th>Upload Date</th>
            <th>Uploader</th>
        </tr>
        {% for file in uploads %}
        <tr>
            <td>{{ file.file_name }}</td>
            <td>{{ file.upload_date }}</td>
            <td>{{ file.uploader}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}